.bird_info-body {
    color: lightgrey;
    background-color: #073642;
    padding: 1rem;
    width: 100%;
    border: 1px solid #555;
    height: 100%;
}

.bird_info-content {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.bird_info-content .audio {
    padding: 10px;
}

.bird_info-body .bird-image {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin: 0px;
    object-fit: cover;
}

.bird_info-content .list-group {
    padding: 0.5rem 1rem;
}

.bird_info-content .list-group-item {
    padding: 5px;
}

#audio-info {
    width: 100%;
}

.bird_info-body .list-group {
    width: 100%;
}

.bird_info {
    margin-bottom: 25px;
}

@media (max-width: 450px) {
    .bird_info-content {
        flex-wrap: wrap;
    }
    .bird_info-body .bird-image {
        width: 150px;
        height: 112px;
    }
    .bird_info-content .list-group {
        padding: 0.5rem 0;
    }
}